html body {
  background-color: #282c34;
  height: 100%;
  width: 100%;
}

.App {
  color: #c4c4c4;
  padding-right: 15px;
  padding-left: 15px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.project-description .section-title {
  text-align: center;
}

.footer {
  background-color: #3e4451;
  height: 100px;
  width: 100%;
}

.Church-Talks-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100px + 15vmin);
  object-fit: scale-down;
}
